// Place all the styles related to the consumers/job_answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job_answer_interface_type_input {
  .label {
    position: relative;
    label{
      position: relative;
    }
  }
  ol.choices-group {
    padding: 35px 0 0 25%;
  }
}
