
$("li.question_<%= params[:interview_answer][:interview_question_id] %>").after('<div class="saving_info">Ihre Antwort wird gespeichert ...</div>');

setTimeout((function() {
  if ("<%= params[:interview_answer][:interview_question_id] %>" != "") {
    question_element = "#question_"+"<%= params[:interview_answer][:interview_question_id] %>";
  }
  else {
  	question_element = "#user_data";
  }
  $(question_element).fadeOut().remove();
  $(".saving_info").fadeOut().remove();
  if (($("form").length == 0) || (($("form").length == 1) && ($("#survey_request_form").length == 1)) ){
	$("#survey_info").after('<div id="thanks">Vielen Dank fuer Ihre Unterstuetzung!</div>');
  	$("#survey_info").fadeOut().remove();
  	if ($("#survey_request_form").length == 1) {
  		$("h3:last").fadeOut().remove();
  	} else
  	{
  		$("h3").fadeOut().remove();
  	}
  	
  	$("ul.survey .devider_small:last").fadeOut().remove();
  }
}), 1500);


