
$("li.question_<%= params[:interview_answer][:interview_question_id] %>").after('<div class="saving_info">Ihre Antwort wird gespeichert ...</div>');

setTimeout((function() {
	if ("<%= params[:interview_answer][:interview_question_id] %>" != "") {
    question_element = "#question_"+"<%= params[:interview_answer][:interview_question_id] %>";
  }
  else {
  	question_element = "#user_data";
  }
  $(question_element).fadeOut().remove();
  $(".saving_info").fadeOut().remove();

}), 1500);

