Eine neue Anfrage wurde soeben gesendet:

<p>
	Name: <%= @request_message.name %> <br>
	email: <%= @request_message.email %> <br>
	message: <%= @request_message.message %> <br>
  Newsletter: <%= @request_message.newsletter %>
</p>
	
Voll gut :)