.headline_dark
  .shadow
  .container
    %h1 Umfrage
    
  
.container
  #survey_info
    %p Vielen Dank, dass Sie sich die Zeit nehmen. Die erhobenen Daten werden im Rahmen einer Studie zu Verbesserungspotenzialen im Bereich Personalbeschaffung verwendet.         
    %p Die Umfrage dauert ca. 10 Minuten. Sie können die Umfrage auch unterbrechen und zu einem späteren Zeitpunkt zurückkehren.
    %p
      %i
        %b Alle Angaben sind optional.
  %br
  = link_to ">> Download umfangreicher Fragebogen (PDF)", "/downloads/survey.pdf"
  = render "interview_questions/interview_question"
  %br
