@import "compass";



body {
	width: 103%;
	margin:auto;
	margin-top: -3px;
}

.container {
  position: relative;
}

@font-face {
  font-family: 'BebasRegular';
  src: font-url('BEBAS___-webfont.eot');
  src: font-url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('BEBAS___-webfont.woff') format('woff'),
       font-url('BEBAS___-webfont.ttf') format('truetype'),
       font-url('BEBAS___-webfont.svg#BebasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3 {
  font: 11px/68px 'BebasRegular', Arial, sans-serif;
}

.span4 {
  width: 300px;
  margin-right: 10px;
  margin-left: 0;
  position:relative;
  margin-bottom: 20px;
}


.span6 {
  width:450px;
  margin-left: 10px;
  margin-right: 10px;
}

.span12 {
  width: 960px;
  margin-left: 10px;
  margin-right: 10px;
  &.box_shadow {
    @include box-shadow(0px 1px 24px -1px #545454);
  }
}

.cta_button {
  @include background(image-url("cta_btn.png") no-repeat);
  width: 273px;
  height: 79px;
}

.header_button {
  border-radius: 3px;
  padding:15px;
  @include background-image(linear-gradient(#9ed44d, #669224));
  color: white !important;
  @include text-shadow(none);
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.inline-errors {
  margin: 3px !important;
}

//------------------------------
//          HEADER
//------------------------------

#languages {
  position:absolute;
  top: 5px;
  right: 0px;
  span {
    margin-left: 10px;
  }
}

#logo {
	@include background(image-url("logo.png") no-repeat) ;
	width: 208px;
	height: 88px;
	float:left;
	margin-top: 15px;
}

header {
	height: 115px;
	background: url('/assets/header_bg.png');
	font-size: 12px;
	ul.nav_top{
    font: 11px/68px 'BebasRegular', Arial, sans-serif;
  	margin-top: 40px;
  	margin-left: 25%;
  	list-style-type:none;
  	li {
  	  float:left;
  	  margin: 8px;
      display: inline-block;
      &.list_point {
        padding: 15px;
      }
      a {
        color: #575757;
      }
      a:hover {
        color: red;
      }
  	}
  }
}

//------------------------------
//          EYE CATCHER
//------------------------------

#eye_catcher {
  @include background(image-url("eyecatcher_bg.png"));
  height: 300px;
  width: 100%;
  position: relative;

  .headlines {
    text-align: center;
    color: white;
    margin-top: -14px;
    p {
      font-size: 20px;
      &.less{
        font-size: 15px;
      }
    }
  }
  ul.pitch_eyecatcher {
    list-style-type:none;
    color: white;
    margin-top: 40px;
    li {
      @include background(image-url("haken.png") no-repeat);
      padding-left: 32px;
      line-height: 26px;
      font-size: 17px;
      margin-top: 14px;
    }
  }
  #get_member_arrow {
    @include background(image-url("pfeil.png") no-repeat);
    width: 349px;
    height: 81px;
  }
  a {
    text-align:center;
    line-height:78px;
    color:white;
    font-size: 20px;
    &.cta_button {
      float:right;
    }
  }
}
.shadow {
  height: 34px;
  @include background(image-url("eyecatcher_shadow.png") no-repeat) ;
  margin: auto;
  width: 1043px;
}

//------------------------------
//          PITCH
//------------------------------

.icon_search_optimization {
  @include background(image-url("search_icon.png")no-repeat);
  height:97px;
}

.icon_better_network {
  @include background(image-url("network_icon.png")no-repeat);
  height:97px;
}

.icon_working {
  @include background(image-url("works_icon.png")no-repeat);
  height:97px;
}


#pitch {
  text-align:center;
  img {
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
  }
  h3 {
    font-size: 16px;
    color: #575757;
    margin-top: -5px;
  }
  p {
    font-size: 12px;
    padding: 0 20px 0 20px;
    text-align:justify;
  }
}


//------------------------------
//          ABOUT
//------------------------------

#about {
  background: #1f261f;
  position:relative;
  text-align:center;
  .how_it_works {
    @include background(image-url("how_it_works.png") no-repeat);
    height: 789px;
    width: 1552px;
    margin-left: auto;
    margin-right: auto;
  }
}


//------------------------------
//          TEAM
//------------------------------


#team{
  .profile {
    height: 260px;
    .description {
      width: 65%;
      height: 100%;
      float:left;
      text-align: justify;
      h3 {
        font-size: 18px;
        line-height: 18px;
        margin-top: 70px;
      }
      .social{
        float:right;
      }
    }
    .picture {
      width: 30%;
      float:left;
    }
  }
  img {
    width: 290px;
    height: 260px;
    &.profile_max{
      @include background(image-url("max_woltersdorf.png") no-repeat ); 
    }
    &.profile_roman{
      @include background(image-url("roman_schneider.png") no-repeat ); 
    }
    &.profile_wladimir{
      @include background(image-url("waldemar_kusnezow.png") no-repeat ); 
    }
    &.mail_icon{
      @include background(image-url("email_icon.png") no-repeat ); 
      height: 23px;
      width: 32px;
    }
    &.xing_icon {
      @include background(image-url("xing_icon_small.png") no-repeat);
      height: 29px;
      width: 35px;
    }
  }
}

.content_headlines {
  text-align:center;
  h1 {
    color: #575757;
    font-size: 22px;
    line-height: 22px;
  }
  h3 {
    color: #CECECE;
    font-size: 16px;
    font-family:Helvetica,Arial,sans-serif;
    line-height: 16px;
  }
}


.devider {
  margin-top: 80px;
  @include box-shadow(#CECECE 0px -9px 10px);  
  position:relative;
  text-align:center;
  .devider_logo {
    @include background(image-url("separator_icon.png") no-repeat);
    height: 162px;
    width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -95px;
  }
}

.devider_team {
  position:relative;
  text-align:center;
  .devider_logo {
    @include background(image-url("separator_icon.png") no-repeat);
    height: 162px;
    width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -95px;
  }
}




//------------------------------
//          CONTACT
//------------------------------

#contact {
  #request_message_newsletter_input {
    input {
      width: 8%;
    }
    label {
      padding-left: 0px;
    }
  }
  #new_request_message {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #request_message_submit_action {
    float:right;
    input {
      width: 80px;
    }
  }
  li {
    text-align:left;
    font-size: 14px;
    
    label {
      float:none;
      background-color:white;
      color: #575757;
      text-align:left;
      font-size: 14px;
    }
    input {
      margin-left:0;
      border-radius: 2px;
      padding: 4px;
      width: 82%;
    }
    textarea{
      width: 99%;
      max-width: 447px;
      height: 140px;
    }
  }
}



//------------------------------
//          FOOTER
//------------------------------


footer{
  @include background(image-url("eyecatcher_bg.png"));
  height: 120px;
  width: 100%;
  position:relative;
  a {
    color:white;
    font-size: 14px;
    &:hover{
      color:white;
    }
  }
  ul {
    width: 400px;
    list-style-type: none;
    height: 30px;
    margin: auto;
    li {
      text-align:center;
      float:left;
      margin-left: 40px;
    }
  }
}

#imprint {
  h1{
    font-size: 20px;
  }
  h2{
    font-size:14px;
    line-height: 0px;
  }
  #eye_catcher{
    height: 76px;
    color: white;
    margin-bottom: 20px;
    h1{
      line-height:4px;
    }
  }
}

.success_msg {
  background-color:#b1cd88;
  border:solid 1px #7da73d;
  @include border-radius(2px);
  text-align: center;
  width: 370px;
  margin: 18px;
  color: #5c7d2c;
  padding:7px 20px;
}


