#eye_catcher
  .shadow
  .container
    .headlines
      %p You're hiring? We'cruiting!
      %p.less Crowdsourced Recruiting durch professionelle Headhunter. 
    .span6
      %ul.pitch_eyecatcher
        %li Zugriff auf ein großes Netzwerk an Headhuntern
        %li Direkte Schnittstelle zu Xing und LinkedIn
        %li Attraktive Prämien
    .span6
      #get_member_arrow
      = link_to "Jetzt registrieren", root_path, class: "cta_button"