.row
  .span10
    #the_project
      %h3.arrow_bg The project
      .arrow_bg_left
    #who_we_are
      %h3.arrow_bg Who we are
      .arrow_bg_left
    #how_it_works
      %h3.arrow_bg How it works
      .arrow_bg_left
    #contact
      = render "contact"

